{% extends 'default.html' %}

{% load static %}

{% block background %}
    {% static 'assets/img/Login.png' %}
{% endblock background %}

{% block preview %}
<form method="post" action="{% url 'login' %}">
    {% csrf_token %} 
    {{ form.as_p }}
    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
    </form><p></p>
    <h6><em>If you do not have an account at the site please SignIN </em></h6>
    <li class="nav-item"><a class="navbar-nav ms-auto py-4 py-lg-0" href="{% url 'signin' %}">SignIn</a></li>
    <li class="nav-item"><a class="navbar-nav ms-auto py-4 py-lg-0" href="../../allauth/login">Allauth</a></li>

{% endblock preview %}

