
{% extends 'default.html' %}

{% load static %}

{% block background %}
    {% static 'assets/img/create-post.jpg' %}
{% endblock background %}

{% block MMORPG %}
    Create your advert here
{% endblock MMORPG %}

{% block preview %}
   <form action="" method="post" enctype="multipart/form-data">  <!--IMPORTANT PART: enctype="multipart/form-data". files won't be uploaded without it-->
    {% csrf_token %}
        <tr>       
            <td>Advert title:</td>
            <td>{{ form.title }}</td>
        </tr>
        <p><tr>Advert content:</tr></p>
        <tr>{{ form.text }}</tr>
        <p><td>Category:</td>
        <td>{{ form.category }}</td></p>

        <p><td>Upload file:</td>
        <td>{{ form.upload }}</td></p>
        
        <!-- TODO: delete -->
        <!-- {{ form.as_p }} -->
        <!-- {{ MEDIA_ROOT }} -->
        <!-- {{ form.media }} -->

        <input type="submit" value="{{ button }}" /> 
   </form>
{% endblock preview %}