
{% extends 'default.html' %}

{% load static %}

{% load custom_tags %}

{% block MMORPG %}
    List of responses have been received by <span style="text-decoration: underline; color: rgb(61, 118, 172);" >"{{ user_ }}" </span>
{% endblock MMORPG %}

{% block background %}
    {% static 'assets/img/response.webp' %}
{% endblock background %}

<!-- responses list for the specific user -->
{% block preview %}
{% if responses_in %}

        {% for response in responses_in %}
            <div class="post-preview">
                <a>
                    <h3 class="post-subtitle"><em>Response: </em> {{ response.text }}</h3>
                    <a href="{% url 'response_list_ad_in' response.advert.id %}">
                    <h6 class="post-subtitle"><em>Advert:</em> "{{ response.advert.title }}" (author: '{{ response.advert.author }}')</h6></a>
                </a>
                    {% if response.accepted %}
                        <em>Accepted</em> <Image id="" upload src="{% static 'assets/img/accepted.png' %}" width="2%" height="2%"/></p>
                    {% else %}
                    <em>Not accepted</em> <Image id="" upload src="{% static 'assets/img/decline.png' %}" width="2%" height="2%"/></p>
                    {% endif %}

                    <!-- delete button  -->
                    <a href="{% url 'response_delete' response.id %}">
                    <input type="submit" value="Delete" /></a>

                    <!-- Accept button  -->
                    {% if not response.accepted %}
                    <a href="{% url 'accepted' response.id %}">
                        <!-- <input type="submit" value="Accept" name="{{ accepted_true }}"/> -->
                        <input type="submit" value="Accept" /></a></p>
                    {% endif %}

                <p class="post-meta">
                    <a href="#!">User "{{ response.author }}"</a>
                    responsed on {{ response.createTime }}
                </p>
            </div>
            <!-- Divider -->
            <hr class="my-4" />
        {% endfor %}

{% else %}
    <h2 class="post-title">Responses not found</h2>
{% endif %}
{% endblock preview %}

{% block search %}
<hr class="my-4" />
    <form action="" method="get">
        <h4>Filters</h4>
        <p>Accepted: 
            <input type="submit" value="True" name="accepted_button"/>
            <input type="submit" value="False" name="accepted_button"/></p>
        <hr>
    </form>
<form action="" method="get">
    {# Button with an empty get-method to clean all filters #}
    <input type="submit" value="Clean filters" />
</form>
<caption><em>found: {{ search_result }}</em></caption>
{% endblock search %}

{% block pagination %}
{# Добавляем пагинацию на страницу #}
<div class="small text-center text-muted fst-italic">
    {# Добавляем "<" #}
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=page_obj.previous_page_number %}"><</a>
    {% endif %}

    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
    {% endif %}

    {# Добавляем ">" #}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">></a>
    {% endif %}
</div>
{% endblock pagination %}


<!-- work edition - the whole list template - is not used!-->
{% block preview1 %}
{% if responses %}<!--delete this-->
{#% if user_responses %#}
{% for response in responses %}<!--delete this-->
{#% for response in user_responses %#}
    <div class="post-preview">
        <a>
            <h3 class="post-subtitle"><em>Response: </em> {{ response.text }}</h3>
            <a href="{% url 'advert_detail' response.advert.id %}">
            <h6 class="post-subtitle"><em>Advert:</em> {{ response.advert.title }}</h6></a>
        </a>
            {% if response.accepted %}
                <em>Accepted</em> <Image id="" upload src="{% static 'assets/img/accepted.png' %}" width="2%" height="2%"/></p>
            {% else %}
            <em>Not accepted</em> <Image id="" upload src="{% static 'assets/img/decline.png' %}" width="2%" height="2%"/></p>
            {% endif %}
        <p class="post-meta">
            <a href="#!">User "{{ response.author }}"</a>
            responsed on {{ response.createTime }}
        </p>
    </div>
    <!-- Divider -->
    <hr class="my-4" />
{% endfor %}
{% else %}
<h2 class="post-title">Responses not found</h2>
{% endif %}
{% endblock preview1 %}